<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bayonet" translate="label" sortOrder="200">
            <label>Bayonet Anti-Fraud</label>
        </tab>
        <section id="bayonetantifraud_general" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General Configuration</label>
            <tab>bayonet</tab>
            <resource>Bayonet_BayonetAntiFraud::bayonetantifraud_config</resource>
            <group id="general" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <comment>
                <![CDATA[
                <b>IMPORTANT - READ THE MANUAL</b>
                <br><br>
                Don't forget to read this module's manual before using it. Reading the manual will help you a lot in understanding how to configure the module and how it works,
                in this way, navigating throughout its features will be a lot easier for you.
                <br><br>
                Enabling this module's features will require for you to enter your API keys,
                to obtain them you need to log into <a href="https://bayonet.io/login" target="_blank" rel="noopener noreferrer">Bayonet's Console</a> with your Bayonet credentials,
                once you are logged in, go to the <a href="https://bayonet.io/developers/setup" target="_blank" rel="noopener noreferrer">Setup section</a>, where you can get them or generate them if you haven't done that.
                If you haven't received your Bayonet credentials yet, please send an email to <a href="mailto:contacto@bayonet.io">contacto@bayonet.io</a>
                with your information to provide you with them.
                <br><br>
                In order to be able to use Bayonet in Live Mode properly, you must add both your IP address and your domain to the whitelist in <a href="https://bayonet.io/login" target="_blank" rel="noopener noreferrer">Bayonet's Console</a>.
                This is located in the <a href="https://bayonet.io/developers/setup" target="_blank" rel="noopener noreferrer">Setup section</a>, the same place where you get your API keys.
                <br><br>
                If you need any support regarding this module, you can either send a mail to <a href="mailto:soporte@bayonet.io">soporte@bayonet.io</a> or contact us via Intercom on our <a href="https://bayonet.io/" target="_blank" rel="noopener noreferrer">Website</a>.
                <br><br>
                ]]>
                </comment>
                <field id="enable" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When disabled, the module will not process any orders. Can only be enabled when at least one pair is keys has been saved already</comment>
                    <backend_model>Bayonet\BayonetAntiFraud\Model\Config\Backend\EnableValidation</backend_model>
                </field>
                <field id="api_mode" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Live (production) Mode Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When disabled, the module will process all new orders in sandbox (test) mode. Can only be enabled when both live (production) API keys have been saved already</comment>
                    <backend_model>Bayonet\BayonetAntiFraud\Model\Config\Backend\ApiModeValidation</backend_model>
                </field>
                <field id="api_version" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Version</label>
                    <backend_model>Bayonet\BayonetAntiFraud\Model\Config\Backend\ApiVersionValidation</backend_model>
                    <comment>The current version of the API. This must not be modified unless asked by the developer</comment>
                </field>
                <field id="bayonet_sandbox_key" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bayonet Sandbox (test) Key</label>
                    <comment><![CDATA[The sandbox (test) API key for Bayonet. <a href="https://bayonet.io/developers/setup" target="_blank" rel="noopener noreferrer"> Get the key</a>]]></comment>
                    <backend_model>Bayonet\BayonetAntiFraud\Model\Config\Backend\KeyValidation</backend_model>
                </field>
                <field id="js_sandbox_key" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Device Fingerprint Sandbox (test) Key</label>
                    <comment><![CDATA[The sandbox (test) API key for the Device Fingerprint. <a href="https://bayonet.io/developers/setup" target="_blank" rel="noopener noreferrer"> Get the key</a>]]></comment>
                    <backend_model>Bayonet\BayonetAntiFraud\Model\Config\Backend\KeyValidation</backend_model>
                </field>
                <field id="bayonet_live_key" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bayonet Live (production) Key</label>
                    <comment><![CDATA[The live (production) API key for Bayonet. <a href="https://bayonet.io/developers/setup" target="_blank" rel="noopener noreferrer"> Get the key</a>]]></comment>
                    <backend_model>Bayonet\BayonetAntiFraud\Model\Config\Backend\KeyValidation</backend_model>
                </field>
                <field id="js_live_key" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Device Fingerprint Live (production) Key</label>
                    <comment><![CDATA[The live (production) API key for the Device Fingerprint. <a href="https://bayonet.io/developers/setup" target="_blank" rel="noopener noreferrer"> Get the key</a>]]></comment>
                    <backend_model>Bayonet\BayonetAntiFraud\Model\Config\Backend\KeyValidation</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
